body {
  font-family: "Roboto", sans-serif;
  overflow-y: auto;
  overflow-x: hidden;
  margin: 0px;
}
a {
  color: white;
  text-decoration: none;
}
div#fixedheader {
  position: relative;
  top: 0px;
  left: 0px;
  width: 100%;
  color: #ccc;
  background: #303030;
  padding: 20px;
  letter-spacing: 1px;
}
#maincontent {
  margin: 0px 10px;
}
.igl {
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 100;
  color: #a9a9a9;
}

.logo {
  display: inline-block;
}

.nav {
  display: inline-block;
}

ul {
  list-style-type: none;
  margin: 0px 200px;
  padding: 0;
}

h2{
  font-weight: 300;
}

ul li {
  display: inline-block;
  margin: 0px 20px;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}

div#fixedfooter {
  position: fixed;
  font-size: 9px;
  bottom: 0px;
  left: 0px;
  width: 100%;
  color: #a9a9a9;
  background: #303030;
  padding: 10px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

.speakers li {
  display: block;
  background: #eee;
  margin: 20px;
  padding: 10px;
  width: 60%;
  font-size: 1rem;
  text-transform: none;
}