<h4>
  Contact us
</h4>
<div style="padding: 10px;">
  <input type="text" placeholder="Name" style="padding: 5px;" />
</div>
<div style="padding: 10px;">
  <input type="email" placeholder="Email" style="padding: 5px;" />
</div>
<div style="width: 30%;">
  <h4>
    Enter message
  </h4>
  <FroalaEditor />
  <input
    type="button"
    value="Submit Query"
    style="padding: 5px;margin-top:15px;"
  />
</div>
{{outlet}}