<h4>
  Sessions
</h4>
<ul class="speakers">
  <li>
    10:00AM - 10:15AM: Welcome Note
  </li>
  <li>
    <p>
      10:15AM - 10:45AM:
    </p>
    Blockchain for JavaScript Developers by Abhinav Srivastava
    <p>
      https://twitter.com/abhinavmir
    </p>
  </li>
  <li>
    <p>
      10:45AM - 11:15AM:
    </p>
    Aer : Design Language Library at Headout by Himanshu Dixit
    <p>
      https://twitter.com/1x_engineer
    </p>
  </li>
  <li>
    <p>
      11:30AM - 12:00:
    </p>
    Microfrontend Architecture by Rahul Gupta
    <p>
      https://www.linkedin.com/in/rahul-gupta-b1301421
    </p>
  </li>
  <li>
    <p>
      12:00 - 12:30PM:
    </p>
    Understanding the Javascript "Number Game" by Tarik Sahni
    <p>
      https://twitter.com/tarik_sahni
    </p>
  </li>
  <li>
    <p>
      12:45PM - 01:15PM:
    </p>
    You don't know that - Less known things of JS by Hemkaran Raghav
    <p>
      https://twitter.com/hemkaranraghav
    </p>
  </li>
  <li>
    <p>
      01:15PM - 01:45PM:
    </p>
    ML on the web - Build image classifier using tensorflow by Puja Chaudhury
    <p>
      https://twitter.com/CatPlotLib
    </p>
  </li>
</ul>

{{outlet}}